<div class="row listing_row">
<% if @listings.size == 0 %> 
	<h3> Sorry, no results </h3>
<% else %>
	<h3> Results 
<% end %>
<% @listings.each_with_index do |listing, index| %>
	<% if (index % 6 == 0 && index != 0) %>
		</div>
		<div class="row listing_row">
			<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "col-md-2" }%>
	<% else %>
		<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "col-md-2" }%>
	<% end %>
<% end %>