<%= javascript_tag do %>
	$( document ).ready(function() {
		$(".owl-carousel").owlCarousel({items: 1});
	});
<% end %>


<div class="row">
	<% @listingTopics.each do |listingTopic| %>
		<div class="col-md-3">
			<h3><%= listingTopic[0] %></h3>
			<div class="owl-carousel">
				<% listingTopic[1].each do |listing| %>
					<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "col-md-3"} %>
				<% end %>
			</div>
		</div>
	<% end %>

</div>

