<div id="main_map" class="map"></div>

<%= javascript_tag do %>
  window.listings = <%= raw @listings.to_json %>;
  window.onload = loadScript()
  window.key = '<%=GOOGLE_MAPS_API_KEY%>'
<% end %>

<div id ="search_filter">
  <h3> Search filter </h3>
</div>