<% if flash[:notice] != nil %>
	    <div class="alert alert-success"> flash[:notice] </div>
<% end %>


<div class="row">
  <%= render partial: "thumb", locals: {listing: @listing} %>
  <%= render partial: "thumb", locals: {listing: @listing} %>
</div>