<% if flash[:notice] != nil %>
	    <div class="alert alert-success"> flash[:notice] </div>
<% end %>


<h3>For sale at: $<%=@listing.price%></h3>


<div id = "providedPhotos">

</div>

<%= render 'popup' %>

<h3> Stuff after map </h3>
