<div class="followings">
	<% @listed.each_with_index do |listing, index| %>
		<% if index % 4 == 0 %>
			<div class="row">
				<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "col-md-3"} %>
		<% elsif index % 4 == 3 %>
			<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "col-md-3"} %>
			</div>
		<% else %> 
			<%= render partial: "/listings/thumb", locals: {listing: listing, sizing: "col-md-3"} %>
		<% end %>
	<% end %>	
</div>